body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
#footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#footer .left {
    float: left;
}

#footer .center {
    display: inline-block;
}
